* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(blue, purple, #5a5a0c);
  padding: 10px;
}

.todo-list {
  height: 100%;
  width: 560px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-list h2 {
  color: rgb(57, 4, 106);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-list h2 img {
  height: 30px;
  width: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(210, 237, 103);
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-weight: 32px;
  font-size: 20px;
}

button {
  border: none;
  outline: none;
  padding: 12px;
  background: #ff5945;
  color: beige;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 30px;
  border-radius: 50px;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.jpg);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  font-size: 25px;
  color: #ff5945;
  line-height: 40px;
  text-align: center;
  border: 50px;
}
ul li span:hover {
  background: #edeef0;
}
